import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')
body
    background-color #797979
.page
    max-width 1000px
    width 100%
    margin 0 auto
    padding 70px 115px 75px
    background: url(/assets/images/bg.jpg)
h2
    font-size title-fz
    font-family bold-font
    line-height 2
.description
    font-size desc-fz
    font-family desc-font
    line-height 1.6
    margin-bottom 30px