.general-info
	margin-bottom: 75px
.info-item
	display flex
	flex-wrap wrap
	margin-bottom 20px
	&__key
		align-self flex-end
		margin-right 20px
		font 22px bold-font
		color primary-color
	&__value
		flex 1 1 auto
		font text-fz text-font
		padding 5px
		border-bottom 3px solid transparent
		border-image url(/assets/images/line.png) 1