.general-info
	margin-bottom: 60px
.info-item
	display flex
	flex-wrap wrap
	margin-bottom 15px
	&__key
		width 100%
		align-self flex-end
		margin-right 20px
		font 22px bold-font
		color primary-color
		@media (min-width: 600px)
			width: auto
	&__value
		flex 1 1 auto
		max-width 100%
		font text-fz text-font
		word-wrap break-word
		padding 5px 10px
		border-bottom 3px solid transparent
		border-image url(../images/line.png) 1