mixin general-info()
	.general-info
		+b.info-item
			+e.SPAN.key Полное ФИО
			+e.SPAN.value Видяева Валентина Валерьевна
		+b.info-item
			+e.SPAN.key Год рождения
			+e.SPAN.value 1995
		+b.info-item
			+e.SPAN.key Место жительства
			+e.SPAN.value г. Хабаровск, Россия
		+b.info-item
			+e.SPAN.key Скайп
			+e.SPAN.value valyavidyaeva
		+b.info-item
			+e.SPAN.key Почта
			+e.SPAN.value valyavidyaeva@mail.ru