include ../../../bemto/bemto.pug
include ../../../node_modules/jade-injected/jade-injected.pug
include ../page/page
include ../checked/checked
include ../section/section
include ../header/header
include ../general-info/general-info
include ../checkbox-wrap/checkbox-wrap
include ../js-wrap/js-wrap
include ../text-wrap/text-wrap
include ../radio-wrap/radio-wrap
include ../footer/footer
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page
		block content
	+scripts(['app.min.js'])
	+scripts(['rangeslider.js'])