@font-face
   font-family 'PT-sans-regular'
   font-style normal
   src url(/assets/fonts/PT_Sans-Regular.ttf)
@font-face
   font-family 'PT-sans-bold'
   font-style normal
   src url(/assets/fonts/PT_Sans-Bold.ttf)
@font-face
   font-family 'Courier New'
   font-style normal
   src url(/assets/fonts/Courier-New.ttf)
desc-fz = 15px
title-fz = 24px
text-fz = 30px
bold-font = 'PT-sans-bold'
desc-font = 'PT-sans-regular'
text-font = 'Courier New'