mixin checkbox-wrap()
	+b.SECTION
		H2.title Расскажите о себе чекбоксами
		P.description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
		+b.checkbox-wrap
			each val, index in ['БЭМ/OOCSS','Pug (Jade)','Stylus/LESS/SASS','Работаю с SVG','Верстаю семантично','Accessibility (A11Y)','ES2015/ES2016','Gulp/GRUNT','Webpack','Дружу с WebGL','jQuery','Знаю/изучаю Angular','Знаю/изучаю React','Знаю/изучаю Node.js','Использую Git','С глазомером всё ок','Читаю blog.csssr.ru','Я ленивый(-ая)','У меня хороший английский']
				+e.item
					input(type='checkbox' checked id='checkbox'+index)
					label(for='checkbox'+index)= val