.checkbox-wrap
	margin-bottom: 45px
	display flex
	flex-wrap: wrap
	flex-direction column
	max-height 270px
	&__item
		max-width: 40%
		&:nth-child(n+8):nth-child(-n+14)
			padding-left 38px
		&:nth-child(n+15):nth-child(-n+19)
			padding-left 43px
		label
			display inline-flex
			align-items baseline
			font 21px/1.5 bold-font
			&::before
				content ''
				display inline-block
				margin-right 5px
				width $checkbox_fill_width
				height $checkbox_fill_height
				background url($checkbox_image) $checkbox_offset_x $checkbox_offset_y
		span
			white-space pre
		a
			color #1f5f97
			&:hover
				text-decoration none
		input
			display none
			&:checked + label::before
				background url($checkbox_image) $checkbox_offset_x $checkbox_offset_y, url($checkbox_fill_image) $checkbox_fill_offset_x $checkbox_fill_offset_y