textarea
    width 100%
    min-height 360px
    margin-bottom 30px
    overflow hidden
    resize none
    -webkit-appearance none
    background url(../images/high-line.png) repeat
    font text-fz/60px text-font
    border none
    white-space pre-wrap
    &:focus
        outline none