.row
	display flex
	justify-content space-between
.csssr-logo
	align-self center
.secret
	position relative
	left 0
	@media (min-width: 900px)	
		left 58px
		top: 13px
.cv
	text-align center
	margin-top 30px
	margin-bottom 30px
	margin-right 22px
	@media (min-width: 600px)	
		margin-top 10px
		margin-bottom 45px	
	img
		margin-left -20px