.date-wrap
	display flex
	flex-wrap wrap
	&__date-text
		font 22px bold-font
		margin-right 20px
		align-self flex-end
	&__date
		font text-fz text-font
		padding 5px
		border-bottom 3px solid transparent
		border-image url(/assets/images/line.png) 1