mixin js-wrap()
	+b.js-wrap
		H2.title Уровень владения JavaScript
		+b.rangeslider-wrap
			+e.INPUT.input(type='range' min='0' max='100' value='35' step='1' labels="Не владею, Использую готовые решения, Использую готовые решения и умею их переделывать, Пишу сложный JS с нуля")